* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
}

.logo {
  padding-top: 30px;
}

.hamburger-menu {
  padding-top: 35px;
  padding-right: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.primary-text {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  padding-left: 20px;
  font-style: normal;
  line-height: 50px;
  letter-spacing: 0.37px;
  font-size: 56px;
}

.hero {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  width: 380px;
  background-image: url(./images/illustration-header-mobile.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.supporting-text {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  padding-top: 5px;
  font-size: 18px;
  line-height: 40px;
  padding-left: 20px;
  font-weight: 700;
  padding-right: 50px;
}

.description {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding-top: 15px;
  justify-content: space-evenly;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  height: 123px;
  letter-spacing: 0.37px;
  width: 100%;
  margin-right: 50px;
}

.social-links {
  width: fit-content;
  display: flex;
  padding: 2% 3%;
}

li {
  list-style: none;
}

@media (max-width: 375px) {
  .navbar {
    width: 100%;
  }

  .supporting-text {
    font-size: 25px;
  }

  .primary-text {
    font-size: 40px;
    line-height: 40px;
    font-family: 'Crete Round', serif;
    font-weight: 400;
  }

  .social-links {
    display: flex;
    list-style: none;
    padding-top: 25%;
    align-items: center;
  }

  .social-links li a {
    padding-right: 15px;
    padding-left: 10px;
  }

  .description {
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }

  li {
    list-style: none;
  }
}

@media (max-width: 768px) {
  .desktop-menu{
    display:none;
  }

  .ImgProject1{
    display:none;
  }

  .work2-content-desktop {
    display:none;
  }
  .description-aboutme-desktop {
    display:none;
  }

  .form-text-desktop {
    display:none;
  }

  #lastname {
    display:none;
  }
  .navbar {
    width: 100%;
  }

  .supporting-text {
    font-size: 25px;
  }

  .hero {
    width: 100%;
    background-image: url(./images/illustration.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 590px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding-top: 120px;
  }

  .social-links {
    display: flex;
    list-style: none;
    padding-top: 25%;
    align-items: center;
  }

  .social-links li a {
    padding-right: 15px;
    padding-left: 10px;
  }

  .description {
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }

  li {
    list-style: none;
  }

  .description-desktop{
    display: none
  }
}

@media (max-width: 375px) {
  .hero {
    background-position: right bottom 30px;
  }
}

.title-works h4 {
  font-family: 'Crete Round', serif;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 40px;
  line-height: 52px;
}

hr {
  width: 325px;
  margin-top: 50px;
  border: 1px solid #212121;
  margin-left: 20px;
}

.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.work {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 20px;
}

.title {
  padding-left: 20px;
  padding-top: 120px;
}

.work1img {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.work1-title h4 {
  display: flex;
  justify-content: center;
  padding-right: 18%;
  padding-top: 40px;
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
}

.work1content p {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.work1-tag {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
}

.work1tag-css,
.work1tag-html,
.work1tag-bootstrap,
.work1tag-ruby {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
}

.work1tag-css img,
.work1tag-html img,
.work1tag-bootstrap img,
.work1tag-ruby img {
  width: 100%;
  height: auto;
}

.button-work1 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  box-shadow: none;
  margin-left: 100px;
  margin-top: 25px;
}

.work2img-1,
.work2img-2,
.work2img-3,
.work2img-4,
.work2img-5,
.work2img-6 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 40px;
  justify-content: flex-start;
  height: 390px;
  background-image: url(./images/work2img.svg);
  background-repeat: no-repeat;
}

.work2-content {
  max-width: 380px;
  padding-left: 20px;
}

.work2-content p {
  max-width: 380px;
  font-family: 'Inter', serif;
  color: #fff;
}

.work2-content h2 {
  font-family: 'Crete Round', serif;
  padding-top: 70px;
  color: #fff;
}

.work2tag {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.work2tag > div {
  max-width: 100%;
}

.work2tag-html,
.work2tag-css,
.work2tag-bootstrap {
  padding-left: 10px;
  padding-top: 10px;
}

.work2btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 328px;
}

.work2-btn {
  width: 100%;
  text-align: center;
  background: #ff6b00;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
}

.about-me {
  background-color: #1c1a19;
  margin-top: 120px;
}

.about-me-description {
  background-image: url("./images/Group.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 620px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me-description .title {
  color: #ff6b00;
  font-size: 4.5rem;
  margin-left: 5%;
}

.description-aboutme {
  color: #f4f5f7;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 40px;
  margin-left: 40px;
  margin-right: 12%;
}

.resume-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 156px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  box-shadow: none;
  margin-left: 10%;
  margin-top: 25px;
  justify-content: center;
}

#languages-list,
#frameworks-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
}

#skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 80px;
}

#skills h3 {
  color: white;
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 700;
  margin: 3rem 0;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.1em;
}

.skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 330px;
}

#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

#form-section fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  color: #979493;
}

.form-text {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 2rem;
  font-family: 'Inter', sans-serif;
  align-items: center;
  justify-content: center;
  color: #172b4d;
  text-align: center;
}

.inputs {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

#text-area {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border: none;
  color: #3c3a39;
  font-style: italic;
  font-size: 15px;
  line-height: 12px;
  padding-top: 10px;
  padding-left: 10%;
}

#fullname,
#email {
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 295px;
}

#submit {
  width: 150px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

#submit:hover {
  background: #ff8900;
}

#submit:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ff6b00;
}

.footer-line hr {
  border: none;
  height: 1px;
  background-color: #dfe1e6;
  margin-bottom: 90px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer-ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer-ul li {
  margin: 0 10px;
}

.footer-ul li img {
  display: block;
  width: 30px;
  height: 30px;
}

/* desktop-version */

@media (min-width: 1024px) {
  .hamburger-menu{
    display: none;
  }
  .desktop-menu ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    align-items: center;
  }
  .desktop-menu ul li {
    margin-right: 3rem;
  }
  .desktop-menu ul li:last-child {
    margin-right: 10rem;
  }
  .logo {
    margin-left: 10rem;
    padding-bottom: 1.1rem;
  }

  .navbar{
    height: 50px;
  }

  .hero{
    width: 100%;
    background-image: url("images/Illustration-header.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
    padding-bottom: 5rem;
  }

  .primary-text{
    font-size: 72px;
    line-height: 81.5px;
    padding-left: 145px;
    font-weight: 400;
    margin-top: 15rem;
  }

  .supporting-text{
    font-weight: 500;
    font-size: 32px;
    font-style: normal;
    line-height: 44px;
    padding-left: 145px;
  }
  
  .social-links{
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: -18.5rem;
    gap: 1.2rem;
    padding-right: 1.5rem;
  }

  .description{
    display: none;
  }

  .description-desktop{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    padding-top: 1.5rem;
  }

  .title h4{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091E42;
  }
  
  /* works section */

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-works {
    display: flex;
    flex-direction: column;
    padding-top:5rem;
  }
  .title-works h4{
   margin-right: 50rem;
   color: #091E42;
   font-family: 'Crete Round', serif;
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 52px;
  }

  .work1-title {
    color: #091E42;
    font-family: 'Crete Round';
    line-height: 52px;
    font-weight: 400;
    font-size: 40px;
  }

  .work1content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
  }

  .line-desktop hr {
    color: #212121;
    margin-top: -2rem;
    margin-left: 22rem;
    width: 697px;
  }

  .work1img{
    display: none;
  }
  
  .project1 {
    padding-top:5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
 
  .ImgProject1 {
    padding-top: 3rem;
    padding-left: 5rem;
  }
  .work1-tag{
    margin-top: 2rem;
    margin-left: -2rem;
  }
  
  
  .button-work1-desktop{
    display: flex;
    margin-left: 35rem;
    margin-top: -10rem;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem;
    margin-top: 2rem; 
  }
  
  .work2img-1 {
    background-image: url(./images/desk-project-1.png);
  }

  .work2-content-1 {
    display: none;
  }
  
  .work2tag-1 {
    display: none;
  }

  .work2btn-div {
    margin-top: 24rem;
  }

  .work2img-2 {
    background-image: url(./images/desk-2-img.svg);
    padding-top: 3rem;
  }

  .work2-content-1 {
    display: none;
  }

 
  .work2tag-html,
  .work2tag-css,
  .work2tag-bootstrap {
    padding-left: 10px;
    padding-top: 20rem;
  }

 #deaktop-title {

 }

#mobile-title,
#mobile-para {
  display: none;
}

#desktop-title {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 8rem;
  padding-left: 1rem;
}

#desktop-para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding-top: 2rem;
  padding-left: 1rem;
}

.work2tag {
  margin-top: -17rem;
  
}

  .work2img-3 {
    background-image: url(./images/img-desk-4.svg);
    padding-top: 3rem;
  }

  #desktop-title-3 {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 45%;
    padding-left: 1rem;
  }
  .work2btn-div-3 {
    display: none;
  }

  .work2img-4 {
    background-image: url(./images/work2img.svg);
    padding-top: 5rem;

  }

  #desktop-title-4{
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 3rem;
    padding-left: 1rem;
  }

  #desktop-para-4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 2rem;
    padding-left: 1rem;
  }

  .work2btn-div-4 {
    display: none;
  }

  .work2img-5 {
    background-image: url(./images/desk-2-img.svg);
  }

  .work2btn-div-5 {
    display: none;
  }

  .work2img-6 {
    background-image: url(./images/img-desk-4.svg);
  }

  .work2btn-div-6{
    display: none;
  }

  .about-me-description {
    background-image: url("./images/illustration-aboutme.svg");
    background-position: right;
  }
 .about-me-description, 
 .title {
  text-align: left;
 }

 .description-aboutme {
  display: none;
 }

 .description-aboutme-desktop {
  padding-top:1rem;
  padding-left: 5rem;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #F4F5F7;
 }

 .resume-btn {
  margin-left: 5rem;
 }

 #skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 5rem;
  gap: 10rem;
}

.skills-title {
  height: 4rem; 
}

#skills-list {
  margin-top: 1rem;
}

#form-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  padding-top: 10rem;
}

.form-text {
  display: none;
}

.form-text-desktop {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  color: #262626;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5rem;
  
}

.names {
  display: flex;
  gap: 5px; 
  flex-wrap: wrap;
}

.names input{
  flex: 1;
}

#submit {
  margin-left: -10rem;
}
